.card-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 20px;
  width: auto;
  border-left: 7px solid #5A9E8D;
}

.dark .card-container {
  background-color: #2A2A2A;
  box-shadow: 0 4px 6px rgba(234, 234, 234, 0.1);
  border-left: 7px solid #3C7E6E;
}

/******    ********
.nav-section-header-copiloto:hover {
  background-color: #e6f2ef;
}

.dark .nav-section-header-copiloto:hover {
  background-color: #A5CEC0;
}

.nav-section-header-copiloto.active {
  background-color: #e6f2ef;
}

.dark .nav-section-header-copiloto.active {
  background-color: #5A9E8D;
  color: #ffffff;
}
*/