/* Spinner */
.spinner-container {
  text-align: center;
  padding: 20px;
}

.spinner {
  margin: 0 auto; /* Centrar el spinner dentro del contenedor */
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid #f3f3f3; /* Color del borde externo */
  border-top: 0.4rem solid #89c7b7; /* Color del borde superior */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Modo Dark */
.dark .spinner {
  border: 0.4rem solid #15171C; /* Color del borde externo en modo oscuro */
  border-top: 0.4rem solid #3C7E6E; /* Color del borde superior en modo oscuro */
}

/* Animaci칩n */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Texto oculto para accesibilidad */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Modo Responsive */
@media (max-width: 768px) {
  .spinner {
    width: 2.5rem; /* Reducir tama침o del spinner para pantallas medianas */
    height: 2.5rem;
  }
}

@media (max-width: 480px) {
  .spinner {
    width: 2rem; /* Reducir tama침o del spinner para pantallas peque침as */
    height: 2rem;
  }
}