.tabla-container {
  width: 100%;
  overflow-x: auto; /* Habilitar scroll horizontal si la tabla es muy ancha */
  margin: 20px 0;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.tabla th {
  background-color: #5A9E8D;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.tabla td {
  padding: 10px;
  text-align: center;
}

.tabla tr:nth-child(even) {
  background-color: #f2f9f7;
}

.tabla tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabla tr:hover {
  background-color: #eaf4f1;
}


@media (max-width: 768px) {
  .tabla-container {
    margin: 10px 0; /* Reducir margen para pantallas pequeñas */
  }

  .tabla th,
  .tabla td {
    padding: 8px; /* Reducir padding para pantallas pequeñas */
    font-size: 12px; /* Ajustar tamaño de fuente */
  }

  .tabla {
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho disponible */
  }
}

@media (max-width: 480px) {
  .tabla th,
  .tabla td {
    padding: 6px; /* Reducir aún más el padding para pantallas muy pequeñas */
    font-size: 10px; /* Ajustar tamaño de fuente para pantallas muy pequeñas */
  }

  .tabla-container {
    margin: 5px 0; /* Reducir margen para pantallas muy pequeñas */
  }
}