.titulo-page-container {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.titulo-page {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3d3c3b;
}   