/* Contenedor principal */
.ver-horario-container {
  margin: 40px auto;
  padding: 0px 20px;
  max-width: auto;
}

/* Filtros */
.ver-horario-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-group label {
  margin-right: 10px;
  font-weight: bold;
  color: #3d3c3b;
}

.ver-horario-select {
  padding: 5px 10px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  background-color: #fff;
  color: #3d3c3b;
}

.ver-horario-select:focus {
  border-color: #ecc138;
  outline: none;
  box-shadow: 0 0 0 1px rgba(236, 193, 56, 0.5);
}

.ver-horario-button {
  padding: 10px 20px;
  background-color: #89c7b7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.ver-horario-button:hover {
  background-color: #6fb1a2;
}