/* Contenedor principal */
.ver-horario-container {
  margin: 40px 0px;
  width: auto;
}

/* Filtros */
.ver-horario-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-group label {
  margin-right: 10px;
  font-weight: bold;
  color: #3d3c3b;
}

.ver-horario-select {
  padding: 5px 10px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  background-color: #fff;
  color: #3d3c3b;
}

.ver-horario-select option {
  background-color: #f9f9f9; /* Fondo de las opciones */
  color: #3d3c3b; /* Color del texto de las opciones */
  border: 1px solid #5a9e8d;
  border-radius: 5px;
}

.ver-horario-select:focus {
  border-color: #5a9e8d;
  outline: none;
  box-shadow: 0 0 0 1px rgba(90, 158, 141, 0.5);
}

.ver-horario-select option:hover {
  background-color: #5a9e8d; /* Fondo al pasar el cursor sobre una opción */
  cursor: pointer;
}

/* Modo responsive */
@media (max-width: 768px) {

  .ver-horario-filters {
    flex-direction: column; /* Coloca los filtros en una columna */
    align-items: center; /* Alinea los filtros al centro */
  }

  .filter-group {
    width: 100%; /* Asegura que los filtros ocupen todo el ancho disponible */
    margin-bottom: 15px; /* Espaciado entre grupos */
  }

  .filter-group label {
    font-size: 12px; /* Reduce el tamaño de fuente para pantallas pequeñas */
  }

  .ver-horario-select {
    width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
    font-size: 12px; /* Reduce el tamaño de fuente para pantallas pequeñas */
  }
}

@media (max-width: 480px) {

  .ver-horario-filters {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .filter-group {
    width: auto;
    margin-right: 15px;
    margin-bottom: 0px;
  }

  .filter-group label {
    font-size: 10px; /* Ajusta el tamaño de fuente para pantallas muy pequeñas */
  }

  .ver-horario-select {
    width: auto;
    font-size: 10px; /* Ajusta el tamaño de fuente para pantallas muy pequeñas */
    padding: 4px 8px; /* Reduce el padding para pantallas muy pequeñas */
  }
}