/* Contenedor principal */
.historial-container {
  margin: 40px auto;
  padding: 0px 20px;
}

/* Barra superior y filtros */
.historial-barra-superior {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 18px;
}

/* Filtros alineados en línea */
.historial-filtros-row {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
  align-items: center; /* Alinear verticalmente */
  gap: 20px; /* Espaciado entre los filtros */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten si no caben */
}

/* Estilo para el contenedor de "Apellidos y Nombres" */
.historial-nombre-usuario {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  gap: 10px; /* Espaciado entre el label y el input */
}

/* Estilo para los labels */
.historial-filtros-row label,
.historial-nombre-usuario label {
  font-weight: 600;
  color: #3d3c3b;
}

/* Estilo para los inputs y selects */
.historial-filtros-row input,
.historial-filtros-row select,
.historial-nombre-usuario input {
  padding: 5px 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 15px;
  background-color: #fff;
  color: #3d3c3b;
}

.historial-filtros-row input:focus,
.historial-filtros-row select:focus,
.historial-nombre-usuario input:focus {
  border-color: #ecc138;
  outline: none;
  box-shadow: 0 0 0 1px rgba(236, 193, 56, 0.5);
}

/* Estilo para el input de "Apellidos y Nombres" */
.historial-input-disabled {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #3d3c3b;
  width: 100%;
  max-width: 300px;
}