.malla-container {
  margin: 40px 0px;
  width: auto;
}

.malla-carrera {
  font-size: 1.5rem;
  font-weight: 600;
  color: #5a9e8d;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.malla-mensaje {
  color: #1f2937;
}

.dark .malla-mensaje {
  color: #d1d5db;
}